
  /*particulares*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    height: auto;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: #181818;
    color:#ebebeb
}
button{
    padding: 1em;
    text-transform: uppercase;
    border: none;
    background: #ebebeb
}
.nav{
    background: #ffffff;
    min-height: 48px;
    width: inherit;
}
.nav ul li{
    display: inline-block;
    margin-right: 1em;
    letter-spacing: 0.3rem;
}
.nav ul{
    text-align: right;
    width: auto;

}
.hero{
    max-height: 30em;
    min-height: 25em;
    width: 100%;
    height: 30em;
    overflow: hidden;
}
.hero img{
    width: 100%;
    height: inherit;
}
.center{
    text-align: center
}

.text-left{
    text-align: left
}
.text-right{
    text-align:right
}
.img img{
    width: 100%
}
.frame{
    padding: .5em;
    min-height: 10em;
    text-align: center
}
.ficha img{
    width: 100%
}
.ficha{
    margin: .5em;
}
.location{
    margin-top: 2em;
}
.contact{
    width: 100%
}
.contact input, .contact textarea{
    width: 100%;
    /* height: 3em; */
    padding: 1em;
    margin: .5em 0em;
}
.contact button{
    background-color: black;
    color: white;
}


@media only screen and (max-width: 768px) {
    .nav ul {
      text-align: center; 
      width: auto;
      margin-right: 4em;
  }
  .logo{
      text-align: center
  }
  .frame {
    padding: .5em;
    min-height: 10em;
    text-align: center;
    width: 90%;
    /* display: block; */
    }
    .ficha {
        margin: .5em;
        padding: .5em 1.5em .5em .5em;
    }
    #about p{
        padding: .5em 1.5em .5em .5em;
        }
    .contacto{
        padding: 1em 5em 1em 1em;
    }
    .hero {
        max-height: 30em;
        min-height: 13em;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .hero img {
        width: 100%;
        height: auto;
    }
}